@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Add info about the MIS program at the Price College of Business
 -->

<h1>MIS Page</h1>
<p>This is the MIS page of the developer</p>

