
@{
    ViewData["Title"] = "About";
}

<h1>About the developer</h1>
<p>This is the about page of the developer </p>
<p>Developer Name: @Model.Name </p>
<p> @Model.InterestingFact</p>
<p>Developer Email: <a href="mailto:@Model.email" </p>

