@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Add info about the university of oklahoma-->
@{
    ViewData["Title"] = "Price Page";
}
<h1>Price Page</h1>
<p>This is the price page of the developer</p>
<p>Developer Name: @Model.Name </p>
<p> @Model.InterestingFact</p>


